 /* Common Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primary: #FF42A5;
    --color-secondary: #4EC5F7;
}
html,
body{
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}
img,svg{
    display: block;
}
a{
    text-decoration: none;
}
.hide{
    display: none;
}
.container{
    width: 1140px;
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}
.pt{
    padding-block-start: 60px;
}
.py{
    padding-block: 60px;
}
.btn{
    background-color: white;
    color: var(--color-primary);
    padding-block: 14px;
    padding-inline: 40px;
    border-radius: 50px;

}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.w-80{
    width: 90%;
    max-width: 100%;
    margin-inline: auto;
}
/* Header Section */
.header{
    height: 120px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.row,
.navigation,
.nav-bar,
.media,
.banner-container,
.card-container,
.participent-content,
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-item{
    margin-inline-end: 32px; 
}
.media{
    background:rgba(11, 2, 35, 0.1);
    padding-inline: 24px;
    border-radius: 8px;
}
.media span i{
    padding-inline: 8px;
    padding-block: 18px;
    margin-inline: 6px;
}
.media span:last-child{
    margin-inline-end: 6px;
}
/* Baner area */
.baner-content-area{
    display: flex;
    background: url('../images/Group14.png') no-repeat center;
    justify-content: center;
    padding-block: 155px;
}
.baner-content-area .title{
    font-size: 45px;
}
.baner-content-area .heading{
    font-size: 96px;
    background: linear-gradient(#FF42A5,#333);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn-primary{
    background: var(--color-primary);
    color: #fff;
}
.btn.btn-secondary{
    background: var(--color-secondary);
    color: #fff;
}
.baner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.baner-img img{
    width: 90%;
}
p.text{
    margin-block-end: 10px;
}
.button-group{
    margin-block-start: 40px;
    display: flex;
}
.button-group :first-child{
    margin-inline-end: 30px;
}

/* Online Gaming */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center .title{
    font-size: 48px;
    font-weight: 700;
}
.text-center .title span,span{
    color: var(--color-primary)
}
.card-container{
    margin-block-start: 45px;
    max-width: 100%;
    gap: 20px;
}
.card{
    position: relative;
}
.card img{
    max-width: 100%;
}

.card-overlay{
    display: grid;
    align-content: center;
    margin-inline: auto;
    height: 80%;
    position: absolute;
    top: 0;
    background-color: #ff42a599;
    opacity: 0;
    transition: 2s;
    border-radius: 8px;
}
.card-overlay:hover{
    opacity: 1;
}
.card-overlay i{
    color:beige;
    margin-bottom: 5px;
}
.card-overlay a{
    color: white;
}
/* gaming */
.gaming-content{
   position: relative;
   display: flex;
   text-align: end;
   justify-content: center;

}
.card-overlay,
.gaming-img img,
.gaming-img-overlay img,
.career-img img
{
    width: 100%;
}
.w-25{
    width: 50%;
    margin-inline-end: 20%;
}
.gaming-img-overlay{
    position: absolute;
    translate: -50% -80%;
}
/* Career  */
section.career{
    margin-top: 130px;
    background: var(--color-primary);
}
.career-title,
.career-list,
.career-des,
.career-list a{
    color:#fff;
}

.career-list,.career-des{
    margin-block-start: 20px;
}

.career-list li{
    margin-block-end: 5px;
    list-style: none;
}
.career-img{
    margin-inline: auto;
}
.uppercase{
    text-transform: uppercase;
}
/* Gaming participent */
.gaming-participent{
    background:rgba(255, 66, 165, 0.03) ;
}

.participent-content{
    display: inline-flex;
    justify-content: flex-start;
    gap: 10px;
    transition: all 2s;
}
.col-3:hover .participent-content{
    background:rgb(254, 253, 253,.3);
    border-radius: 50px;
    border: 2px solid #FF42A5;
    padding: 3px 12px;
    color: #FF42A5
}
/* Footer area */
.footer{
    background-color: #0B0223;
}
.footer-logo img{
    margin-inline: auto;
}
.footer-top ,.footer-social-media,.footer-privacy,.footer-bottom{
    display: inline-flex;
    margin-inline: auto;
}
.footer-top,.footer-privacy{
    margin-block: 20px;
}
.footer-top a,
.footer-privacy a{
    color: #fff;
    padding-block: 5px;
    padding-inline: 8px;
}
.footer-top :not(:last-child),
.footer-privacy :not(:last-child){
    margin-inline: 15px;
}
.footer-privacy a,.footer-bottom{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-social-media a{
    color: #fff;
    margin-inline: 10px;
    padding-block: 3px;
    padding-inline:5px;
}
